* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: 'Outfit', sans-serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #F99417;
    margin-bottom: 40px;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.container h1:hover {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc,
        0 7px 0 #ccc, 0 8px 0 #ccc,
        0 9px 0 #ccc, 0 10px 0 #ccc,
        0 11px 0 #ccc, 0 12px 0 #ccc,
        0 20px 30px rgba(0, 0, 0, 0.5);
}

input {
    display: grid;
    grid-column: span 4;
    max-width: 300px;
    height: 150px;
    border: none;
    background: #000;
    color: #fff;
    text-align: end;
    outline: none;
    font-size: 4.5rem;
    justify-content: center;
    align-items: center;
    
}

.container-wrapper {
    display: grid;
    grid-template-columns: repeat(4.2fr);
    border: 1px solid #ee8b12;
    border-radius: 27px;
    padding: 28px;
    height: 600px;
    background-color: #000;
    box-shadow: 16px 18px 14px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 16px 18px 14px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 18px 14px 4px rgba(0,0,0,0.75);
}

button {
    border-radius: 40px;
    height:67px;
    width: 65px;
    border: none;
    font-size: 1.7rem;
    background-color: #535353;
    color: #fff;
    outline: none;
    transition: 300ms;
}

.first {
    background-color: #bbb9b9;
    color: #000;

}

.first:active {
    background-color: #ffffff;
}


button:active {
    background-color: #a3a2a2;
}


.symbol:active {
    background-color: #ffffff;
}

.symbol {
    background-color: #ee8f1b;
}
